.action-btn-upload {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #83d981;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.upload-file-box {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upload-file-box h2 {
  margin: 0;
  font-size: 24px;
  font-family: "Pacifico";
  margin-bottom: 10vh;
}
