.loading-page {
  padding: 0;
  margin: 0;
  background-color: #8bc8d4;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading-page .loading-title {
  padding-top: 30vh;
  color: white;
  font-size: 30px;
  font-family: "Pacifico";
}
