.welcomepage {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100vh; /* Use the full screen height */
  padding: 40px 0;
  box-sizing: border-box;
  background-color: #8bc8d4;
}
.welcome-info {
  padding-top: 15vh;
  padding-bottom: 10vh;
  /* height: 10vh; */
  text-align: center;
  color: white;
}

.welcome-info h2 {
  margin: 0;
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: "Pacifico";
}

.welcome-info .intro-sentence {
  font-weight: 700;
  font-size: 23px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px; /* Add some space between buttons */
}

.action-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  background-color: #83d981;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  .user-info h2 {
    font-size: 24px;
  }

  .action-btn {
    padding: 8px 16px;
    font-size: 18px;
  }
}
